<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>General info</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <h6>Name: {{images[0].breeds?.[0]?.name}}</h6>
    <p> No description found</p>
    <p style="font-style:italic;">Stock: {{images.length}}</p>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo()" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>
